@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter";
}

.footer svg {
  width: 14px;
  stroke-width: 2.5;
}

.footer {
  width: 100%;
  padding: 32px 0;
  /* background-color: #a5b4fc; */
}

.wrapper {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 12px;
  padding: 12px;
  border: 1px black dashed;
}

.wrapper > section {
  border: 1px black dashed;
  padding: 12px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer h3 {
  margin-bottom: 12px;
}

.footer p {
  font-size: 12px;
  margin-bottom: 12px;
}

.contact-info {
  font-size: 14px;
}
