@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter";
}

svg {
  width: 24px;
  stroke-width: 2.5;
}

svg:hover {
  cursor: pointer;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.wrapper-navbar {
  height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./car.jpg);
  /* opacity: 0.8; */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* filter: blur(2px); */
  position: relative;
}

.mobile-nav {
  display: none;
}

.header {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  backdrop-filter: blur(2px);
  /* position: absolute;
  z-index: 99; */
}

.logo a:nth-child(1) {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav a,
.mobile-nav a {
  font-weight: 600;
  transition: all 0.25s ease-in-out;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
}

.hamburger {
  display: none;
}

.nav a::after,
.mobile-nav a::after {
  transition: all 0.3s ease-in-out;
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 3px;
  border-radius: 3px;
  background-color: #ff4d30;
  bottom: -6px;
}

.nav a:hover::after,
.mobile-nav a:hover::after {
  width: 100%;
}

.nav a:hover,
.mobile-nav a:hover {
  color: #ff4d30;
}

.sign-up {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sign-up a {
  color: white;
}

.sign-up a:nth-child(2) {
  padding: 12px 24px;
  background-color: #ff4d30;
  border-width: 0;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 1px 2px 8px #ff4d30;
}

.hero-info {
  position: absolute;
  /* background-color: #fff; */
  /* backdrop-filter: blur(1px); */
  color: #fff;
  top: 50%;
  left: 10%;
  padding: 32px;
  transform: translate(0, -50%);
  width: 50%;
}

.hero-des {
  margin: 32px 0 12px;
}

.hero-info a {
  display: flex;
  gap: 6px;
  align-items: center;
  color: #fff;
}

.hero-info span {
  color: #ff4d30;
}

.hero-title {
  margin: 0;
  font-size: 46px;
  font-weight: 900;
  margin: 12px 0;
}

.wrapper-button {
  margin-top: 24px;
  display: flex;
  gap: 22px;
  font-weight: 700;
}

.wrapper-button a:nth-child(1) {
  padding: 12px 24px;
  background-color: #ff4d30;
  border-radius: 4px;
  box-shadow: 1px 2px 8px #ff4d30;
}

.wrapper-button a:nth-child(2) {
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #000;
  box-shadow: 1px 2px 12px #000;
  /* border: 2px solid black; */
}

.book-ride {
  background-color: #fff;
}

.div {
  height: 100vh;
  /* background-color: #000; */
}

@media (max-width: 1100px) {
  .nav {
    display: none;
  }

  .hamburger {
    display: block;
    fill: white;
    stroke-width: 2.5;
  }

  .sign-in-btn,
  .sign-up-btn {
    display: none;
  }

  .mobile-nav {
    width: 100%;
    height: 100vh;
    /* background-color: #fff; */
    backdrop-filter: blur(12px);
    display: block;
    position: fixed;
    top: 0;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -100%;
    transition: all 0.4s ease-in-out;
  }

  .mobile-nav.active {
    left: 0;
  }

  .nav-items {
    flex-direction: column;
    position: relative;
  }

  .close-btn {
    width: 32px;
    position: absolute;
    top: 64px;
    right: 64px;
    stroke-width: 2.5;
    fill: white;
  }

  .close-btn:hover {
    fill: #ff4d30;
  }

  .nav-items {
    font-size: 32px;
    font-weight: 600;
  }

  .nav-items a {
    color: white;
  }
}
